<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="white">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="white">Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-top-20">

    <div class="no-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="mCol colGris no-padding center">Pedido</div>
          </ion-col>
          <ion-col>
            <div class="dCol colGris no-padding center">Fecha</div>
          </ion-col>
          <ion-col>
            <div class="hCol colGris no-padding center">Estado</div>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            <div class="mCol">1
            </div>
          </ion-col>
          <ion-col>
            <div class="dCol">21/11/2019</div>
          </ion-col>
          <ion-col>
            <div class="hCol">Entregado</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
