.new-background-color{
    --background: #F06702;
}

.f-color{
    --color: #a5a5a5;
}

.center {
    text-align: center
}

.food {
    color: #F06702;
}

.white {
    color: #FFFCF2
}

.f-color-g{
    --color: #525658;
}
