<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="white">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="white">Acerca de nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <ion-text color="dark">
      <h1>¿Quiénes somos?</h1>
    </ion-text>
  </div>
  <div>
    <ion-img style="padding-left:20%; padding-right: 20%; margin-top: 5%; " src="assets/icon/escudo.png"></ion-img>
  </div>
  <div class="mgl-30 justify">
    <p>
      Somos estudiantes del Instituto Tecnológico de Durango. Comprometidos en el desarrollo 
      creación e innovación de tecnologías que beneficien a la comunidad estudiantil. La visión 
      de <ion-text color="food">FoodTec!</ion-text> es convertirse en un 'servicio de comida hasta tú salón' en todas las universidades 
      del país.  
    </p>
    <p>
      Trabajamos estrechamente comprometidos a mejorar la calidad de nuestro servicio todos los días.
      El objetivo de <ion-text color="food">FoodTec!</ion-text> es convertirse en líder regional en servicio a sus clientes.
    </p>
  </div>
</ion-content>
