.new-background-color{
    --background: #F06702;
}

.f-color{
    --color: #a5a5a5;
}

.center {
    text-align: center
}

.food {
    color: #F06702;
}

.white {
    color: #FFFCF2
}

.f-color-g{
    --color: #525658;
}
  .center {
  text-align: center
  }
  .justify {
  text-align: justify
  }
  .no-padding {
  padding: 0px;
  }
  .padding-top-5 {
  padding-top: 5px;
  }
  .padding-left-5 {
  padding-left: 5px;
  }
  .padding-right-5 {
  padding-right: 5px;
  }
  .padding-top-10 {
  padding-top: 10px;
  }
  .padding-top-20 {
  padding-top: 20px;
  }
  .padding-top-30 {
  padding-top: 30px;
  }
  .padding-left-40 {
  padding-left: 40px;
  }
  .mgl-30 {
  margin-left: 30px;
  margin-right: 30px;
  }